/* Gradient Inserted Here  */
#grad {
    background-image: linear-gradient(#150443,#3A0ABB,#150443);
    background-image: linear-gradient(#150443,#3A0ABB,,#150443);
    
  }
/* 
  Menu Icon Insterted Here */
.icon {
      text-align: right;
  }

  body {
      padding-right: 1em;
      padding-left: 1em;
     
   
  }
h1 {
    font-family: poppins;
    line-height:35px;
    font-weight: ExtraBold;
    color: #EFF0F1;
    text-align:left;
    font-size: 3.5rem;

}
h2 {
    color: #EFF0F1;
    font-family: poppins;
    font-size: 3rem;

}

ul {
    font-family: poppins;
    color: #EFF0F1;
    list-style-type: none;
}
    

h3 {
    font-family: poppins;
    color: #EFF0F1;
    font-size: 30px;
    text-align: left;
    font-size: 2.5rem;
}
h4 {
    font-family: poppins;
    color: #EFF0F1;
   
}


p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EFF0F1;
    font-size: 2rem;
    font-weight:300;

}

/* Henry Drayton Hyperlink  */
.nav {
    color: #EFF0F1;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#and {
    text-align: right;
}
/* 
Responsive Heading Text  */

.flex-container {
    /* display: flex;
    flex-direction: row; */
    flex-wrap: wrap;
    align-content: center;
    align-self:baseline;
}

  
  @media (min-width: 1200px) {
    h1 {
      font-size: 14rem;

    }
  } 


  /* mobile first */

.page-text-image img {width:100%;display:block;}

/* for large screens and up */

@media only screen and (min-width: 64.063em) {
.page-text-image {width:35%; float:left; padding-left: 6rem;}
.page-text-message {width:35%; float:right;}

}
  
.table-padding {
    padding-top: 50rem;
}

 

